@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
}

body {
		font-family: "Roboto", sans-serif;
		background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		padding-top: 5rem;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		overflow: hidden;
		margin: 0;
		height: 100vh;
}

.row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 600px;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-bottom: 1rem;
}

.col-header {
		width: 150px;
		-webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
		        box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
		border-radius: 20px;
		padding: 0.8rem 1rem;
		color: #fff;
}

.item {
		width: 150px;
		height: 66px;
		border: 1px solid #eee;
		-webkit-box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
		        box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
		border-radius: 20px;
		background: #f7f6f7;
		padding: 0.8rem 1rem;
		margin: 5px 0 0 0;
		color: #828282;
		text-align: center;
		cursor: -webkit-grab;
		cursor: grab;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		-webkit-transition: ease all 3s;
		transition: ease all 3s;
		-webkit-animation-name: bgc;
		        animation-name: bgc;
		-webkit-animation-duration: 3s;
		        animation-duration: 3s;
		-webkit-animation-iteration-count: infinite;
		        animation-iteration-count: infinite;
}
@-webkit-keyframes bgc {
		0% {
				-webkit-box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
				        box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
		}
		25% {
				-webkit-box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
				        box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
		}
		50% {
				-webkit-box-shadow: 12px 4px 12px rgba(190, 19, 19, 0.36);
				        box-shadow: 12px 4px 12px rgba(190, 19, 19, 0.36);
		}
		75% {
				-webkit-box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
				        box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
		}
		100% {
				-webkit-box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
				        box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
		}
}
@keyframes bgc {
		0% {
				-webkit-box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
				        box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
		}
		25% {
				-webkit-box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
				        box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
		}
		50% {
				-webkit-box-shadow: 12px 4px 12px rgba(190, 19, 19, 0.36);
				        box-shadow: 12px 4px 12px rgba(190, 19, 19, 0.36);
		}
		75% {
				-webkit-box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
				        box-shadow: 8px 8px 12px rgba(190, 57, 57, 0.36);
		}
		100% {
				-webkit-box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
				        box-shadow: 4px 12px 12px rgba(209, 152, 152, 0.36);
		}
}

.item:active {
		cursor: -webkit-grabbing;
		cursor: grabbing;
}

.placeholder {
		width: 150px;
		height: 1500px;
		padding: 10px 0 0 0;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
}

.start, .progress, .done {
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		text-transform: uppercase;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		text-align: center;
}

.start {
		background: -webkit-gradient(linear, left top, right top, from(#aa4343), color-stop(179.25%, #229efd));
		background: linear-gradient(90deg, #aa4343 0%, #229efd 179.25%);
}

.progress {
		background: -webkit-gradient(linear, left top, right top, from(#9b3d3d), color-stop(179.25%, #1cd1d1));
		background: linear-gradient(90deg, #9b3d3d 0%, #1cd1d1 179.25%);
}

.done {
		background: -webkit-gradient(linear, left top, right top, from(#864141), color-stop(179.25%, #117236));
		background: linear-gradient(90deg, #864141 0%, #117236 179.25%);
}

.hold {
		border: 5px solid #ff9595;
}

.hide {
		display: none;
}

.hovered {
		border-top: 2px solid #ee3c68;
}

@media (max-width: 768px) {
		.row {
				-ms-flex-pack: distribute;
				    justify-content: space-around;
		}
}